* {
    margin: 0px;
    padding: 0px;
}
html,body {
    height: 100%;
    min-width: 240px;
    min-height: 240px;
}
body {
    overflow-x: hidden;
    height:100%;
}
/* Common styles */
pre {
    overflow-x: scroll;
    width: 100%;
    display: block;
}
#nav, #wrapper, #mask, #editor, #output {
    /*SMOOTH MOTION*/    
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
/* Header */
header {
    background: #aaa;
    width: 100%;
    height: 2em;
}
header button {
    height: 2em;
}
#toggleMenu {
    display: none;
    float: left;
    padding: 1px 6px;
}
#nav {
    display: inline-block;
}
#nav li {
    display: inline-block;
}
#nav li button {
    width: 8em;
}
#toggleView {
    display: none;
    float: right;
    padding: 1px 0px;
}
/* Body */
#wrapper {
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    height: calc(100% - 2em);
}
#mask {
    position: fixed;
    top: 2em;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}
/* First Column */
#editor{
    background: #ccc;
    height: 100%;
    width: 50%;
    float: left;
    display: block;
}
textarea{
    display: block;
    height: calc(100% - 2em);
    width: 100%;
    border: none;
    resize: none;
}
#parse {
    display: block;
    height: 2em;
    width: 100%;
}
/* Second Column */
#output {
    display: block;
    background: #eee;
    height: 100%;
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 2em; /* Поля вокруг текста */
    overflow: auto;
}
/* Media */
@media screen and (max-width: 500px) {
    #toggleMenu,#toggleView {
	display: block;
    }
    #nav {
	position: fixed;
	z-index: 20;
	background-color: #67b5d1;
	overflow: hidden;
	height: 100%;
	top: 2em;
	left: -10em;
	width: 10em;
	display:block;
    }
    #editor {
	width: 100%;
    }
    #output {
	width: 100%;
	display: none;
    }
}
